<div class="experience-tank">
  <div class="experience-logo">
    <% if exp['name'] == "AE" || exp['name'] == "Freelance" %>
      <%= image_tag @user.thumbnail %>
    <% elsif exp['url'].blank? %>
      <a href="http://<%= exp["name"].downcase.delete(' ') %>.com">
        <img src="//logo.clearbit.com/<%= exp["name"].downcase.delete(' ') %>.com" onerror="this.src='Default.jpg'" alt="<%= exp["name"].split(' ').map { |word| word.first.upcase }.join('') %>">
      </a>
    <% else %>
      <a href="<%= exp['url'] %>">
        <img src="//logo.clearbit.com/<%= exp['url'] %>" alt="<%= exp["name"].split(' ').map { |word| word.first.upcase }.join('') %>">
      </a>
    <% end %>
  </div>
  <div class="experience-body">
    <h4 class="hidde-xs"><%= exp["name"] %> - <small><%= exp["title"] %></small></h4>
  </div>
</div>
<div class="experience-tank between">
  <div class="experience-link"></div>
</div>
