<div class="experience-tank">
  <div class="experience-logo">
    <% if exp['name'] == "AE" %>
      <%= image_tag @user.gravatar_url %>
    <% else %>
      <a href="http://<%= exp["name"].downcase.delete(' ') %>.com">
        <img src="//logo.clearbit.com/<%= exp["name"].downcase.delete(' ') %>.com" alt="<%= exp["name"].split(' ').map { |word| word.first.upcase }.join('') %>">
      </a>
    <% end %>
  </div>
  <div class="experience-body">
    <h4 class="hidde-xs"><%= exp["name"] %> - <small><%= exp["title"] %></small></h4>
  </div>
</div>
<div class="experience-tank between">
  <div class="experience-link"></div>
</div>
