<% content_for(:title) do %>
  <% if @user.alumni %>
    <%= @user.name %> is a Wagon alumni
  <% else %>
    <%= @user.name %> - Le Wagon Alumni
  <% end %>
<% end %>

<% content_for(:description) do %>
  <% if @user.alumni && @user.batch %>
    <% if @user.batch.ends_at > DateTime.now %>
      <%= @user.name %> is attending Le Wagon in <%= @user.batch.city.name %>
      until <%= l @user.batch.ends_at, format: :long %> with the batch #<%= @user.batch.slug %>
    <% else %>
      <%= @user.name %> attended Le Wagon in <%= @user.batch.city.name %>
      from <%= l @user.batch.starts_at, format: :long %> to <%= l @user.batch.ends_at, format: :long %>
      with the batch #<%= @user.batch.slug %>.
    <% end %>
  <% end %>
<% end %>

<%= content_for(:meta_image_url) do %>
  <%= @user.thumbnail %>
<% end %>

<% if @user.noindex %>
  <% content_for(:other_meta) do %>
    <meta name="robots" content="noindex, nofollow, noimageindex" />
  <% end %>
<% end %>

<div class="container-fluid">
  <div class="user-profile-header">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <div class="user-profile-header-tank">
          <div class="user-profile-avatar">
            <div class="badge-container">
              <%= image_tag @user.thumbnail, class: "avatar"%>
              <div class="badge <%= @user.lewagon_role.dasherize.downcase %>">
                <%= @user.lewagon_role %>
              </div>
            </div>
          </div>
          <div class="user-profile-summary">
            <h1><%= @user.name %></h1>
            <h2>
              <span><%= render "display_logo", experience: @user.position %></span>
              <% if @user.position[:title] == "Freelance" %>
                <%= @user.position[:title] %>
              <% else %>
                <span id="title"><%= @user.position[:title] %></span> at <a class="user-profile-blue-link" href="http://<%= @user.position[:company].downcase.delete(' ') %>"><%= @user.position[:company] %></a>
              <% end %>
            </h2>
            <div class="user-profile-contact">
              <ul class="list-unstyled">
                <% unless current_user.nil? %>
                  <li>
                    <div class="user-profile-contact-tank">
                      <div class="user-profile-contact-icons">
                        <% if @user.slack_uid.present? %>
                          <i class="mdi mdi-slack"></i>
                        <% end %>
                      </div>
                      <div class="user-profile-contact-links">
                        <% if @user.slack_uid.present? %>
                          <a href="<%= @user.user_messages_slack_url %>" target='_blank' id:"user-slack">
                            @<%= @user.slack_nickname %> <span class="badge-connected <%= 'is-active' if @user.connected_to_slack %>"></span>
                          </a>
                        <% end %>
                      </div>
                    </div>
                  </li>
                <% end %>
                <li>
                  <div class="user-profile-contact-tank">
                    <div class="user-profile-contact-icons">
                      <i class="mdi mdi-github-circle"></i>
                    </div>
                    <div class="user-profile-contact-links">
                      <a href="http://github.com/<%= @user.github_nickname%>"  target='_blank'>
                        <%= @user.github_nickname %>
                      </a>
                    </div>
                  </div>
                </li>
                <% unless current_user.nil? %>
                  <li>
                    <div class="user-profile-contact-tank">
                      <div class="user-profile-contact-icons">
                        <i class="mdi mdi-email-outline"></i>
                      </div>
                      <div class="user-profile-contact-links">
                        <%= mail_to @user.email, target: '_blank', id: 'user-email' do %>
                          <%= @user.email %>
                        <% end %>
                      </div>
                    </div>
                  </li>
                <% end %>
                <li>
                  <div class="user-profile-contact-tank">
                    <div class="user-profile-contact-icons">
                      <i class="mdi mdi-map-marker-radius"></i>
                    </div>
                    <div class="user-profile-contact-links">
                      <%= @user.cities.reduce('') { |cities, city| cities+="#{city.name} " } %>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if !@user.mood.blank? || @user == current_user %>
    <div class="user-profile-mood">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
         <%= react_component "Mood", render(template: 'users/show.json.jbuilder') %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="user-profile-history">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <% @post_experiences.each do |exp| %>
          <%= render 'experience', exp: exp %>
        <% end %>
      </div>
    </div>
    <% if @user.alumni %>
      <% unless @projects.empty? %>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <% @projects.each do |project| %>
              <div class="experience-tank experience-project">
                <div class="experience-logo">
                  <a href="<%= project.url %>">
                    <img src="//logo.clearbit.com/<%= project.url.gsub(/https?:\/\//, '').gsub(/\/\z/, '') %>" one1rror="this.src='<%= letter_avatar_url(project.name.downcase, 200) %>'">
                  </a>
                </div>
                <div class="experience-body">
                  <h2>
                    Fullstack Ruby on Rails Developer - <a class="user-profile-blue-link" href="<%= project.url %>"><%= project.name %></a>
                  </h2>
                  <p><%= project.tagline_en %></p>
                  <div class="experience-buddies">
                    <% project.users.select { |user| user != @user }.each do |buddy| %>
                      <%= link_to "/#{buddy.github_nickname}", title: buddy.name do %>
                        <%= image_tag buddy.thumbnail, class: "avatar" %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="experience-link"></div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row bg-gray">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <div class="experience-tank experience-tank-wagon">
            <div class="experience-logo experience-wagon text-center">
              <%= render "shared/logo" %>
            </div>
            <div class="experience-body">
              <%= link_to batch_path(@user.batch) do %>
                <h2>Batch #<%= @user.batch.slug %>, <%= @user.batch.city.name %></h2>
              <% end %>
              <p><%= batch_period(@user.batch) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <div class="experience-link"></div>
        <% @pre_experiences.each do |exp| %>
          <%= render 'experience', exp: exp %>
        <% end %>
      </div>
    </div>
  </div>
</div>
