<header class='header-main'>
  <div class='nav-bar'>
      <div class="navbar-logo">
      <%= link_to root_path do %>
        <%= render 'shared/logo' %>
      <% end %>
      </div>
      <% if current_user && current_user.legit? && current_user.slack_uid.blank? %>
        <div class="navbar-link-to-slack">
          <i class="fa fa-slack"></i> Accept the <strong>Slack</strong> email invitation, then <%= link_to "link your account", user_omniauth_authorize_path(:slack) %>.
        </div>
      <% end %>
      <div class='navbar-right'>
        <% if user_signed_in? %>
            <%= react_component 'AvatarNavbar', {
              user: current_user.slice(:github_nickname, :gravatar_url)
              } %>
          <hr>
          <%= link_to new_resource_path, class: 'plus' do %>
            <i class='mdi mdi-plus'></i>
          <% end %>
        <% elsif params[:controller] != 'devise/sessions' %>
          <%= link_to user_omniauth_authorize_path(:github), class: 'btn-github' do %>
            <%= fa_icon 'github' %> <%= t ".sign_out", default: "Sign in" %>
          <% end %>
        <% end %>
    </div>
  </div>
  <%= react_component 'Headers' %>
</header>
