<header class='header-main'>
  <div class='nav-bar'>
      <div class="navbar-logo">
      <%= link_to root_path do %>
        <%= render 'shared/logo' %>
      <% end %>
      </div>
      <% if current_user && current_user.legit? && current_user.slack_uid.blank? %>
        <div class="navbar-link-to-slack">
          <i class="fa fa-slack"></i> Accept the <strong>Slack</strong> email invitation, then <%= link_to "link your account", user_slack_omniauth_authorize_path %>.
        </div>
      <% end %>
      <div class='navbar-right'>
        <% if user_signed_in? %>
            <%= react_component 'AvatarNavbar', {
              user: {
                github_nickname: current_user.github_nickname,
                thumbnail: current_user.thumbnail(width: 32, height: 32, crop: :fill)
              },
              impersonating: current_user && true_user != current_user,
              current_path: request.env['PATH_INFO'],
              cities: (current_user.admin? ? City.all : current_user.cities).map(&:slug)
            } %>
          <hr class='search-icon-hr'>
          <%= react_component 'SearchIcon' %>
          <hr>
          <%= link_to new_resource_path, class: 'plus' do %>
            <i class='mdi mdi-plus'></i>
          <% end %>
        <% elsif params[:controller] != 'devise/sessions' %>
          <%= link_to user_github_omniauth_authorize_path, class: 'btn-github' do %>
            <%= fa_icon 'github' %> <%= t ".sign_out", default: "Sign in" %>
          <% end %>
        <% end %>
        <% if !user_signed_in? %>
          <hr class='search-icon-hr'>
          <%= react_component 'SearchIcon' %>
        <% end %>
    </div>
  </div>
  <%= react_component 'Headers' %>
</header>
