<div class='nav-bar'>
  <div class="container">
    <div class="navbar-logo">
      <%= render 'shared/logo' %>
    </div>
    <div class='navbar-right'>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Sign out" %>
        <% end %>

      <% else %>

        <%= link_to user_omniauth_authorize_path(:github), class: 'btn-github' do %>
          <%= fa_icon 'github' %> <%= t ".sign_out", default: "Sign in" %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
