<div class='cities-list-overlay is-not-flex'>
  <div class='cities-icon-container'>
  <%= link_to cities_path do %>
    <i class='mdi mdi-city'></i>
  <% end %>
  <div class="cities-icon-container">
    <%= link_to city_path(@city) do %>
      <i class='mdi mdi-undo-variant'></i>
    <% end %>
  </div>
  </div>
  <div class="cities-list-container">
    <div class="cities-list-title ">
      <h1 class='batches-list-title'><%= @city.name %> <small>City page management</small></h1>
      <br>
    </div>
  </div>
</div>

<div class="container text-center" id="city_edit_banner" style="background-image: url('<%= image_url @city.city_picture.url(:cover) %>')">
  <div class="banner-content">
    <h1>Change your life: <strong>learn to code</strong></h1>
    <h2>Join Le Wagon FullStack program in <strong><%= @city.name %></strong></h2>
  </div>
  <div class="banner-gradient"></div>
</div>

<%= react_component "CitySpecificsForm", {
  city: @city.slug,
  specifics: @city.marketing_specifics,
  name: 'marketing_specifics',
  area_label: 'Marketing specifics',
  renderedContent: 'Nothing to preview.',
  token: form_authenticity_token,
  placeholder: 'Customize city page on www (markdown accepted)'
}%>

<div class="container text-center" id="city_edit_features">
  <h2>Code the startup way</h2>
  <div class="row padded-1em">
    <div class="col-xs-12 col-sm-4">
      <div class="feature-icon yellow"><i class="mdi mdi-laptop"></i></div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="feature-icon purple"><i class="mdi mdi-keyboard-variant"></i></div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="feature-icon green"><i class="mdi mdi-source-pull"></i></div>
    </div>
  </div>
  <h3>Read full program</h3>
</div>

<div class="container-fluid" id="city_edit_classroom" style="background-image: url('<%= image_url @city.classroom_picture.url(:cover) %>')"></div>

<div class="container-fluid padded" id="city_edit_reviews">
  <h2 class="text-center">Students Reviews</h2>
  <br>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="city_review_card">
            <p>Very cool stuff, useful and smart</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="city_review_card">
            <p>Very cool stuff, useful and smart</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="city_review_card">
            <p>Very cool stuff, useful and smart</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="city_edit_team">
  <h2 class="text-center">Teachers in <%= @city.name %></h2>
  <%= react_component "UserOrderedList", render(
    template: 'cities/_members.json.jbuilder',
    locals: {
      members: @teachers,
      ordered_list: @teacher_ordered_list,
      position: 'teacher',
      inner_component_name: 'CityAdminUsersForm'
    }) %>
</div>

<div class="container" id="city_edit_team">
  <h2 class="text-center">Beloved Teaching Assistants</h2>
  <%= react_component "UserOrderedList", render(
    template: 'cities/_members.json.jbuilder',
    locals: {
      members: @teaching_assistants,
      ordered_list: @teaching_assistant_ordered_list,
      position: 'teaching_assistant',
      inner_component_name: nil
    }) %>
</div>

<%= react_component "CitySpecificsForm", {
  city: @city.slug,
  specifics: @city.logistic_specifics,
  name: 'logistic_specifics',
  area_label: 'Logistic specifics',
  renderedContent: 'Nothing to preview.',
  token: form_authenticity_token,
  placeholder: 'Customize city page on www (markdown accepted)'
}%>
<% content_for(:title) do %>
  <%= @city.name %> - Le Wagon Alumni
<% end %>
