<div class='cities-list-overlay is-not-flex'>
  <div class='cities-icon-container'>
  <%= link_to cities_path do %>
    <i class='mdi mdi-city'></i>
  <% end %>
  <div class="cities-icon-container">
    <%= link_to city_path(@city) do %>
      <i class='mdi mdi-undo-variant'></i>
    <% end %>
  </div>
  </div>
</div>
<div class="container">
  <div class="cities-list-title ">
    <h1 class='batches-list-title'><%= @city.name %> <small>City page management</small></h1>
    <br>
  </div>
</div>
<div class="container text-center" id="city_edit_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_url @city.city_picture.url(:cover) %>');">
  <div class="banner-content">
    <h1>Change your life: <strong>learn to code</strong></h1>
    <h2>Join Le Wagon FullStack program in <strong><%= @city.name %></strong></h2>
  </div>
  <div class="banner-gradient"></div>
</div>
<div class="container">
  <%= simple_form_for @city do |f| %>
    <%= f.input :city_picture, label: false %>
    <br>
    <%= f.submit class: 'btn btn-primary', value: 'Update banner' %>
  <% end %>
</div>

<div class="container">
  <h3 class="text-center">
    Contact Phone
  </h3>
  <%= simple_form_for @city do |f| %>
    <%= f.input :contact_phone_number, label: 'Phone Number', placeholder: '+33 612 345 678' %>
    <%= f.input :contact_phone_number_displayed, label: 'Displayed?' %>
    <%= f.input :contact_phone_number_name, label: 'First Name', placeholder: 'George' %>
    <br>
    <%= f.submit class: 'btn btn-primary', value: 'Update contact phone information' %>
  <% end %>
</div>

<%= react_component "CitySpecificsForm", {
  city: @city.slug,
  specifics: @city.marketing_specifics,
  name: 'marketing_specifics',
  title: 'Custom content',
  renderedContent: 'Nothing to preview.',
  token: form_authenticity_token,
  placeholder: 'Here you can inject any content you want to promote (video of your last Demo-Day, hot press release, ...)'
}%>

<div class="container text-center" id="city_edit_features">
  <h2>Code the startup way</h2>
  <div class="row padded-1em">
    <div class="col-xs-12 col-sm-4">
      <div class="feature-icon yellow"><i class="mdi mdi-laptop"></i></div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="feature-icon purple"><i class="mdi mdi-keyboard-variant"></i></div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="feature-icon green"><i class="mdi mdi-source-pull"></i></div>
    </div>
  </div>
</div>

<div class="container-fluid" id="city_edit_classroom" style="background-image: url('<%= image_url @city.classroom_picture.url(:cover) %>')"></div>
<div class="container">
  <%= simple_form_for @city do |f| %>
    <%= f.input :classroom_picture, label: false %>
    <br>
    <%= f.submit class: 'btn btn-primary', value: 'Update classroom picture' %>
  <% end %>
</div>

<div class="container-fluid padded" id="city_edit_reviews">
  <h2 class="text-center">Students Reviews</h2>
  <br>
  <div class="container">
    <%= react_component "TestimonialList", render(template: 'cities/_testimonials.json.jbuilder') %>
  </div>
</div>

<div class="container padded" id="city_edit_team">
  <h2 class="text-center">Teachers in <%= @city.name %></h2>
  <p class="text-center red">Drag&drop pictures to reorder teachers</p>
  <%= react_component "UserOrderedList", render(
    template: 'cities/_members.json.jbuilder',
    locals: {
      members: @teachers,
      ordered_list: @teacher_ordered_list,
      position: 'teacher'
    }) %>
</div>

<div class="container padded" id="city_edit_team">
  <h2 class="text-center">Beloved Teaching Assistants</h2>
  <p class="text-center red">Drag&drop pictures to reorder teaching assistants</p>
  <%= react_component "UserOrderedList", render(
    template: 'cities/_members.json.jbuilder',
    locals: {
      members: @teaching_assistants,
      ordered_list: @teaching_assistant_ordered_list,
      position: 'teaching_assistant'
    }) %>
</div>

<%= react_component "CitySpecificsForm", {
  city: @city.slug,
  specifics: @city.logistic_specifics,
  name: 'logistic_specifics',
  title: "Tips in #{@city.name}" ,
  renderedContent: 'Nothing to preview.',
  token: form_authenticity_token,
  placeholder: 'Customize city page tips on www'
}%>

<div class="container">
  <h3 class="text-center">
    Location
  </h3>
  <%= simple_form_for @city do |f| %>
    <%= f.input :location, label: 'Venue', placeholder: 'Numa, Euratechnology, WeWork ...' %>
    <%= f.input :address %>
    <%= f.input :location_picture %>
    <br>
    <%= f.submit class: 'btn btn-primary', value: 'Update location' %>
  <% end %>
</div>

<%= react_component "CitySpecificsForm", {
  city: @city.slug,
  specifics: @city.description_en,
  name: 'description_en',
  title: "English description" ,
  renderedContent: 'Nothing to preview.',
  token: form_authenticity_token,
  placeholder: 'Add some description about the venue and working environment'
}%>

<%= react_component "CitySpecificsForm", {
  city: @city.slug,
  specifics: @city.description_fr,
  name: 'description_fr',
  title: "French description" ,
  renderedContent: 'Nothing to preview.',
  token: form_authenticity_token,
  placeholder: "Ajouter une description du lieu et de l'environnement de travail"
}%>

<div class="container">
  <h3 class="text-center">
    Newsletter
    <% unless @city.mailchimp_api_key.blank? || @city.mailchimp_list_id.blank? || @subscribers_count.nil? %>
      <small><%= @subscribers_count %> subscribers</small>
    <% end %>
  </h3>
  <%= simple_form_for @city do |f| %>
    <%= f.input :mailchimp_api_key %>
    <%= f.input :mailchimp_list_id, label: "Mailchimp list id" %>
    <br>
    <%= f.submit class: 'btn btn-primary', value: 'Update Mailchimp infos' %>
  <% end %>
</div>

<% content_for(:title) do %>
  <%= @city.name %> - Le Wagon Alumni
<% end %>
