<div class='cities-list-overlay is-not-flex'>
  <div class='cities-icon-container'>
  <%= link_to cities_path do %>
    <i class='mdi mdi-city'></i>
  <% end %>
  <div class="cities-icon-container">
    <%= link_to city_path(@city) do %>
      <i class='mdi mdi-undo-variant'></i>
    <% end %>
  </div>
  </div>
  <div class="cities-list-container">
    <div class="cities-list-title ">
      <h1 class='batches-list-title'><%= @city.name %> <small>Specifics</small></h1>
    </div>
  </div>
</div>
<%= react_component "CityForm", {
  placeholder: "Customize city page on www with your specific content (markdown accepted)",
  city: @city.slug,
  specifics: @city.specifics ? @city.specifics : nil,
  renderedContent: 'Nothing to preview.',
  token: form_authenticity_token
}%>

<% content_for(:title) do %>
  <%= @city.name %> - Le Wagon Alumni
<% end %>
