<div class='cities-list-overlay is-not-flex'>
  <div class='cities-icon-container'>
  <%= link_to cities_path do %>
    <i class='mdi mdi-city'></i>
  <% end %>
  <div class="cities-icon-container">
    <%= link_to city_path(@city) do %>
      <i class='mdi mdi-undo-variant'></i>
    <% end %>
  </div>
  </div>
  <div class="cities-list-container">
    <div class="cities-list-title ">
      <h1 class='batches-list-title'><%= @city.name %> <small>Specifics</small></h1>
    </div>
  </div>
</div>
<%= react_component "CityForm", {
  city: @city.slug,
  logistic_specifics: @city.logistic_specifics ? @city.logistic_specifics : nil,
  marketing_specifics: @city.marketing_specifics ? @city.marketing_specifics : nil,
  renderedContent: 'Nothing to preview.',
  token: form_authenticity_token,
  placeholder: 'Customize city page on www (markdown accepted)'
}%>

<% content_for(:title) do %>
  <%= @city.name %> - Le Wagon Alumni
<% end %>
