<div class='cities-list-overlay is-not-flex'>
  <div class='cities-icon-container'>
  <%= link_to cities_path do %>
    <i class='mdi mdi-city'></i>
  <% end %>
  <i class='mdi mdi-clipboard-text is-active'></i>
  </div>
  <div class="cities-list-container">
    <div class="cities-list-title ">
      <h1 class='batches-list-title'><%= @city.name %></h1>
      <h1>
        <small class="city-actions">
          <%= link_to "add specific content on www", edit_city_path(@city) %>
        </small>
      </h1>
      <% if current_user.admin %>
        <div class="manager-admin padded-1em">
          <h3>Managers</h3>
          <% @managers.each do |manager| %>
            <div class="manager-box">
              <div class="manager-avatar">
                <img class="avatar" src=<%= manager.gravatar_url %> alt="">
              </div>
              <div class="manager-username">
                @<%= manager.github_nickname %>
              </div>
            </div>
          <% end %>
          <%= react_component "ManagerForm", {
            token: form_authenticity_token,
            city: @city.slug
          }%>
        </div>
      <% end %>
    </div>

    <div class="cities-list batches-list">
      <% @city.batches.where.not(slug: [nil, '']).order(starts_at: :desc).each do |batch| %>
          <div class="city-item batch-item">
            <h3>
              <%= link_to "Batch ##{batch.slug}", batch %>
              <% if policy(batch).edit? %>
                <small class='batch-item-actions'><%= link_to 'Edit', edit_batch_path(batch) %></small>
              <% end %>
            </h3>
            <div class="bacth-item-dates">
              <span class='mdi mdi-calendar-multiple'></span>
              <%= batch.starts_at.strftime('%b %d, %Y') %> → <%= batch.ends_at.strftime('%b %d, %Y') %>
            </div>
            <div class="batch-item-students-count">
              <span class="mdi mdi-account-multiple"></span>
              <%= pluralize batch.users.count, 'student' %>
            </div>
            <% pending_students = batch.users.select(&:ready_for_validation?) %>
            <% if !pending_students.empty? %>
              <div class='pending-students'>
                <% pending_students.each do |student| %>
                    <%= react_component 'StudentItem', {
                        student: student
                    } %>
                <% end %>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:title) do %>
  <%= @city.name %> - Le Wagon Alumni
<% end %>
